body {
	background-color: #607d8b;
	color: #ffffff;
	font-size: 16px;
}

#result-template {
	display: none;
}

.header {
	font-size: 5rem;
	margin-top: 100px;
	text-align: center;
}
.action-bar {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.action-bar div {
  display: inline-block;
  text-align: left;
}
.results {
	background-color: #ffffff;
	color: #212121;
	margin: 0 auto;
	padding: 20px;
	width: 90%;
}
.content {
	text-align: justify;
}
.navigation-links {
	text-align: center;
	color: #ffffff;
	font-size: 2rem;
	margin: 30px 0;
}
.navigation-links > div {
	display: inline-block;
	margin: 0 20px;
}

.credits {
	text-align: center;
	font-size: 0.7rem;
}

/*
	Anchors
*/
.link:link {
	color: powderblue;
	text-decoration: underline;
}
.link:active {
	color: yellow;
	text-decoration: underline;
}
.link:visited {
	color: pink;
	text-decoration: underline;
}
.link:hover {
	color: red;
	text-decoration: none;
}
