/*
	Base parts
*/

body {
	background-color: #607d8b;
	color: #ffffff;
	font-size: 16px;
	padding-bottom: 50px;
}

#result-template, .hidden-start {
	display: none;
}

/*
	Main components
*/
.header {
	font-size: 5rem;
	margin-top: 100px;
	text-align: center;
}
.action-bar {
  text-align: center;
  margin-top: 50px;
}
.action-bar > * {
	margin-bottom: 30px;
}
.buttons {
	display: inline-block;
}
.footer {
	text-align: center;
	font-size: 0.7rem;

	position:fixed;
	height:30px;
	width: 100%;
	bottom:0px;
	padding-top: 15px;

	background-color: inherit;
}

/*
	Result listings
*/
.results {
	background-color: #ffffff;
	color: #212121;
	margin: 0 auto;
	width: 90%;
	padding: 10px;
}
.results > div {
	padding: 20px;
	cursor: pointer;

}
.results > hr {
	margin: 10px 10%;
}
.hovering-result {
	background-color: #cfd8dc;
}
.title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.content {
	text-align: justify;
}

/*
	Navigation links
*/
.navigation-links {
	text-align: center;
	color: #ffffff;
	font-size: 2rem;
	margin: 30px 0;
	cursor: default;
}
.navigation-links > div {
	display: inline-block;
	margin: 0 20px;
	width: 30px;
}
.navigation-links span {
	cursor: pointer;
}
.hovering-nav {
	color: pink;
}

/*
	Anchors
*/
.link:link {
	color: powderblue;
	text-decoration: underline;
}
.link:active {
	color: yellow;
	text-decoration: underline;
}
.link:visited {
	color: pink;
	text-decoration: underline;
}
.link:hover {
	color: red;
	text-decoration: none;
}

/*
	Btn created with http://css3buttongenerator.com/
*/
.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #ffffff;
  background: #707070;
  padding: 5px 20px 5px 20px;
  border: solid #303030 1px;
  text-decoration: none;
}
.input {
  color: #ffffff;
  background: #707070;
  padding: 6px 20px 6px 20px;
  border: solid #303030 1px;
  text-decoration: none;
}
.btn:hover {
  background: #828282;
  text-decoration: none;
}

@media all and (max-width: 320px) {
	.header {
		font-size: 25vw;
	}
}
